<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Pinscape</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="geofence-list-page">
  <ion-list inset *ngIf="!isLoading && geofences.length > 0">
    <geofence-list-item *ngFor="let geofence of geofences" [geofence]="geofence" (onItemTapped)="geofenceItemTapped(geofence)">
    </geofence-list-item>
  </ion-list>
<div class="hint">
  <p id="textfield">
    Location-based game at the hackUPC
  </p>
</div>


  <!-- <ion-card *ngIf="!isLoading && geofences.length === 0">
    <ion-card-header>
      There are no geofences yet.
    </ion-card-header>
  </ion-card> -->

</ion-content>

<ion-fab middle center>
  <button ion-fab (click)="new()" class="add-geofence-button">
    <ion-icon name="cloudy-night"></ion-icon>
    <p>Start</p>
  </button>
</ion-fab>
